* {
  margin: 0;
  padding: 0;
}
:root {
  --gradient: linear-gradient(#2876f9, #6d17cb);
  --button-gradient: linear-gradient(gray, black);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: var(--gradient);
  font-size: 2vw;
  scroll-behavior: smooth;
  color: black;
}

main {
  max-width: 80%;
  min-width: 60%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium";
  text-transform: uppercase;
  word-spacing: 0.5em;
  font-size: 5.9vw;
  background-color: white;
  color: black;
  padding: 0.5em 0.5em 0;
}
h2 {
  font-family: "Arial Narrow";
  padding: 0.2em;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: capitalize;
  padding-top: 1em;
}

h3 {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 0.1em 0;
  background-color: white;
  padding-bottom: 1em;
  color: black;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  font-family: "Arial narrow";
  justify-self: flex-end;
  padding-right: 0.5em;
  border: 1px solid white;
  justify-content: space-around;
}

nav li {
  justify-content: center;
  padding-left: 0.5em;
  font-weight: bold;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

nav li:hover {
  color: #2876f9;
  transform: scale(1.1);
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.5em;
  padding-top: 25em;
}

/* General Styles ▲*/

/* Class Styles  ▼*/

.aboutMeGroup {
  font-family: arial;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
}

.infoGroup {
  align-content: flex-start;
}

.aboutMeInfo {
  text-align: start;
  text-indent: 1.5em;
  padding: 0.3em;
  line-height: 1.2em;
  color: black;
  align-self: flex-start;
  border-radius: 0.5em;
  border-bottom: 0.2em solid black;

  margin: 0 0.5em;
}

.pfp {
  max-width: 20vw;
  flex-grow: 0;
  margin: 0.1em;
  padding: 0.5em;
  background-color: black;
  transition: 500ms;
}

.pfp:hover {
  transform: scale(1.05);
}

.projectGroup {
  display: flex;
  justify-content: space-around;
  padding: 0 0.5em;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 250ms linear;
  padding: 0.1em;
}

.projectInfo:hover {
  transform: scale(1.05);
}

.projectInfo img {
  max-width: 20vw;
  height: 50%;
}

.projectInfo p {
  text-align: center;
  margin-top: 0.2em;
  padding: 0.2em;
  transition-duration: 200ms;
  transition-timing-function: linear;
  color: white;
  background-color: black;
  border-radius: 0.5em;
  width: 100%;
}

.projectInfo p:hover {
  transform: scale(1.1);
}
.skillsGroup {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 1em;
}

.fa-brands {
  font-size: 8vw;
}
